.btn-primary{

    background:var(--primary);
    color:white;

    border-radius:50px;
    transition:var(--transition);

}

.btn-primary:hover{

    background:#7E6DFF;
    transform:translateY(-3px);

}

.btn-secondary{

    background:var(--accent);
    color:#333;

}

.btn-secondary:hover{

    background:var(--accent-light);

}