input,
textarea{

    background:white;

    border:2px solid var(--primary-light);

}

input:focus,
textarea:focus{

    border-color:var(--primary);

    box-shadow:0 0 10px rgba(147,129,255,.2);

}