/*=========================================
            MEMBERS MARQUEE SECTION
=========================================*/
.members-marquee-section{
    padding:90px 0;
    /* background:#ebedf8; */
    background: #dbffe9;
background: linear-gradient(332deg, rgb(250, 251, 250) 27%, rgba(204, 229, 255, 1) 72%);
    overflow:hidden;
}
.members-showcase{
    padding:90px 0;
    background:#f8f9ff;
    overflow:hidden;
}

.marquee{
    overflow:hidden;
    margin:35px 0;
    position:relative;
}
.marquee::before,
.marquee::after{
    content:"";
    position:absolute;
    top:0;
    width:120px;
    height:100%;
    z-index:2;
    pointer-events:none;
}

.marquee::before{
    left:0;
    background:linear-gradient(to right,#f8f9ffa5,transparent);
}

.marquee::after{
    right:0;
    background:linear-gradient(to left,#f8f9ffa5,transparent);
}

.marquee-track{
    display:flex;
    gap:28px;
    width:max-content;
}

.marquee-track.left{
    animation:scrollLeft 60s linear infinite;
}

.marquee-track.right{
    animation:scrollRight 60s linear infinite;
}

.marquee:hover .marquee-track{
    animation-play-state:paused;
}

.member-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    min-width:130px;
}

.member-item img{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #9381FF;
    background:#fff;
    box-shadow:0 12px 30px rgba(0,0,0,.12);
    transition:.35s;
}

.member-item:hover img{
    transform:scale(1.08);
}

.member-item span{
    margin-top:10px;
    font-weight:600;
    color:#333;
    text-align:center;
    line-height:1.3;
    max-width:120px;
    font-size:.9rem;
}

@keyframes scrollLeft{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}

@keyframes scrollRight{

    from{
        transform:translateX(-50%);
    }

    to{
        transform:translateX(0);
    }

}

@media(max-width:768px){

    .member-item{
        min-width:95px;
    }

    .member-item img{
        width:65px;
        height:65px;
    }

    .member-item span{
        font-size:.75rem;
    }

    .marquee-track{
        gap:18px;
    }

    .marquee-track.left,
    .marquee-track.right{
        animation-duration:35s;
    }

}



/*=========================================
            ABOUT PAGE
=========================================*/
.container{
    width:100%;
    max-width:1200px;
    /* margin:100px auto 0px auto; */
    /* padding:0 20px; */
    margin:0 auto;
    padding:0 30px;
}
.about-section{
    padding-top:90px;
    /* background:#F8F7FF; */
    background: #dbffe9;
background: linear-gradient(200deg, rgb(250, 251, 250) 27%, rgba(204, 229, 255, 1) 72%);
}

.about-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
}

.about-image img{
    width:100%;
    border-radius:20px;
    box-shadow:0 20px 45px rgba(147,129,255,.20);
    transition:.4s;
}

.about-image img:hover{
    transform:scale(1.03);
}

.about-content h2{
    font-size:2.5rem;
    color:var(--primary);
    margin-bottom:20px;
}

.about-content p{
    color:#666;
    line-height:1.9;
    margin-bottom:20px;
    font-size:1.05rem;
}

/*=========================================
            FESTIVAL SECTION
=========================================*/

.festival-section{
    /* margin-bottom:90px; */
    padding-bottom:90px;
    /* background:#F8F7FF; */
    background: #dbffe9;
background: linear-gradient(210deg, rgb(250, 251, 250) 27%, rgba(204, 229, 255, 1) 72%);
}

/*=========================================
            SECTION TITLE
=========================================*/

.section-title{
    text-align:center;
    max-width:800px;
    margin:0 auto 60px;
}

.section-title h2{
    font-size:2.5rem;
    color:var(--primary);
    margin-bottom:18px;
    position:relative;
    display:inline-block;
}

.section-title h2::after{
    content:"";
    position:absolute;
    left:50%;
    bottom:-10px;
    transform:translateX(-50%);
    width:80px;
    height:4px;
    border-radius:50px;
    background:linear-gradient(90deg,var(--primary),var(--primary-light));
}

.section-title p{
    margin-top:30px;
    font-size:1.05rem;
    color:#666;
    line-height:1.8;
}

/*=========================================
            FESTIVAL GRID
=========================================*/

.festival-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
}

/*=========================================
            FESTIVAL CARD
=========================================*/

.festival-card{
    background:#f1f2e8;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 12px 35px rgba(147,129,255,.12);
    transition:.35s ease;
}

.festival-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 45px rgba(147,129,255,.25);
}

.festival-card img{
    width:100%;
    height:300px;
    object-fit:cover;
    transition:.4s;
}

.festival-card:hover img{
    transform:scale(1.08);
}

.festival-content{
    padding:30px;
}

.festival-content h3{
    font-size:1.8rem;
    color:var(--primary);
    margin-bottom:15px;
}

.festival-content p{
    color:#666;
    line-height:1.8;
    margin-bottom:25px;
}

/*=========================================
            BUTTON
=========================================*/

.festival-content .btn{
    display:inline-block;
    padding:14px 28px;
    background:var(--primary);
    color:#fff;
    text-decoration:none;
    border-radius:10px;
    font-weight:600;
    transition:.3s;
}

.festival-content .btn:hover{
    background:#7A68F8;
    transform:translateY(-3px);
}


/*=========================================
        Youtube Section
=========================================*/
.youtube{
    /* background:#f1f2e8; */
     background: #dbffe9;
background: linear-gradient(348deg, rgb(250, 251, 250) 27%, rgba(204, 229, 255, 1) 72%);
    position:relative;
    padding-bottom:23.4%;
    height:0;
    overflow:hidden;
    max-width:100%;
}

/*=========================================
        RESPONSIVE
=========================================*/

@media(max-width:992px){

    .about-grid{
        grid-template-columns:1fr;
        text-align:center;
    }
    .festival-grid{
        grid-template-columns:1fr;
    }
    .youtube{
        padding-bottom:38%;
    }

}

@media(max-width:768px){

    .about-section{
        padding:7px 0;
    }

    .about-content h2{
        font-size:2rem;
    }

    .page-hero{
        padding:90px 20px 70px;
    }

    .page-hero h1{
        font-size:2.2rem;
    }

    .page-hero p{
        font-size:1rem;
    }

    .festival-section{
        padding:70px 0;
    }

    .section-title h2{
        font-size:2rem;
    }

    .festival-card img{
        height:220px;
    }

    .festival-content{
        padding:20px;
    }

    .festival-content h3{
        font-size:1.5rem;
    }
    .youtube{
    position:relative;
    padding-bottom:105%;
    height:0;
    overflow:hidden;
    max-width:100%;
}

}


